body {
    background: #fafafa;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bolder;
}

h2, body, footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

h2 {
    font-size: 20px;
}

footer{
    font-weight: inherit;
    font-size:12px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.centeredAnimation {
    position: fixed;
    top: -100%; bottom: -100%; right:-100%; left:-100%;
    margin:auto;
    z-index:0;
}

.centeredElement {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}

.horizontalCenter {
    position: absolute;
    margin: 0 auto;
}

.loader {
    width: 80px;
    height: 80px;
    border: 16px solid white;
    border-top: 16px solid #BADA55;
    border-radius: 50%;
}

.spin {
    animation: spinner .4s linear infinite;
}

.hide {
    visibility: hidden;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}