body {
    background: #fafafa;
    width:100%;
    margin: 0px;
}

#header {
    grid-column: 1 / 7;
    text-align: center;
    background-color: rgb(112, 0, 0);
    color: white;
}

#left-control {
    grid-column: 3/4;
    text-align: right;
}

#right-control {
    grid-column: 4/5;
    text-align: left;
}

h1 {
    font-family: 'Times New Roman', serif;
    font-style: bold;
    font-display: swap;
    src: local('Fjalla One'), local('FjallaOne-Regular'), url(https://fonts.gstatic.com/s/fjallaone/v7/Yq6R-LCAWCX3-6Ky7FAFrO96kigt.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

h2, body, footer {
    font-family: 'Fjalla One', 'Monsterrat', sans-serif;
    font-weight: initial;
}

h2 {
    font-size: 20px;
}

.grid-container {
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    width:100%;
    height:100%;
}

footer {
    font-weight: inherit;
    font-size:12px;
    margin: auto;
    grid-column: 3/5;
    grid-row: 9;
}

#visual {
    grid-row: 3;
    grid-column: 3/5;
}

#barchart {
    margin: 0 auto;
}

p {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

.data_parameter {
    display: inline-block;

    margin-left: 20px;
    margin-right: 20px;
}
.tooltip {
    font-family: 'Fjalla One', 'Monsterrat', sans-serif;
    font-weight: initial;
    font-size: 13px;
    text-align: center;
}

.centeredAnimation {
    position: fixed;
    top: -100%; bottom: -100%; right:-100%; left:-100%;
    margin:auto;
    z-index:0;
}

.centeredElement {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}

.horizontalCenter {
    position: absolute;
    margin: 0 auto;
}

.loader {
    width: 80px;
    height: 80px;
    border: 16px solid white;
    border-top: 16px solid #BADA55;
    border-radius: 50%;
}

.spin {
    animation: spinner .4s linear infinite;
}

.hide {
    visibility: hidden;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}